#myModal.modal-alert.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close.modalClose(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h3
            .modal-body
                p
            .modal-footer
                button(data-dismiss="modal")#ok OK