// Created by Asif on 7/12/2014.
#myModalConfirm2.modal-confirm3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h3#myModalLabel.modal-title
            .modal-body
                p
            .modal-footer
                button(data-dismiss="modal")#ok.submit.btn OK