#get-credentials.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4#myModalLabel.modal-title Retrieve Password
            div.modal-body
                form( method="post")#get-credentials-form.span4
                    p Please enter the email address associated with your account
                    .input-group(style='margin-bottom: 25px;')
                        span.input-group-addon
                            i.glyphicon.glyphicon-user
                        input#email-fg-tf.form-control(type='text', name="email", placeholder='username or email').required
                    button(type="submit")#submit.btn.btn-primary Submit
                    button(data-dismiss="modal")#cancel.btn Cancel
                    div.alert.alert-error.hide(style='margin-top: 10px;')
                    button(data-dismiss="alert").close
            div.modal-footer