.container
#set-password.mainbox.col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2(style='margin-top: 50px;')
    .panel.panel-info
        .panel-heading
            .panel-title Reset Password
        .panel-body(style='padding-top: 30px;')
            form( method="post")#set-password-form.span5
                p Please enter your new password
                .input-group(style='margin-bottom: 25px;')
                    span.input-group-addon
                        New New Password
                    input#pass-tf.form-control(type='password', name="pass", placeholder='Password').span5.required
                button(type="submit")#submit.btn.btn-primary Submit
                div#status-message.alert.alert-error.hide(style='margin-top: 10px;')
                button(data-dismiss="alert").close