//
   Created by Mukarram on 8/15/2014.
- user = typeof(udata) != 'undefined' ? udata : { }

header
    div
        div.left-header
            figure.company
                img.company-logo(src="/images/company-logo.png")
                figcaption.company-name taxi
        div.right-header
            figure.user
                figcaption.user-name(style="padding-right:20px;")
                    a(href='#Logout').logout Log Out