doctype
html
    head
        title taxi
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/site.css')
        link(rel='stylesheet', href='/css/simplePagination.css')
    body
    block content
    block scripts