//
   Created by Mukarram on 9/4/2014.

extends layout
block content
    include header
    section.container
        include nav_menu
        section.content
            table#passengers_admin_container.gridtable
                caption(style="height:100px;")
                    span.left-caption Passenger(s) Admin
                    include Passengers
                thead
                    tr
                        th(data-sort="string") First Name
                        th(data-sort="string") Last Name
                        th(data-sort="string") Cell #
                        th(data-sort="string") Email
                        th(data-sort="string") Status
                        th(data-sort="string") Actions
                #update-profile-MSG
                    div.alert.hide(style='padding: 10px;margin:10px;')
                tbody
            span#paging.hide()
    include modals/alert
    include modals/confirm3
    include modals/view-update-passenger
block scripts
    script(src='/lib/jquery/jquery-1.10.2.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/lib/jquery/jquery.mask.js')
    script(src='/js/views/Passenger_Admin.js')
    script(src='/lib/bootstrap/js/modal.js')
    script(src='/lib/bootstrap/js/transition.js')
    script(src='/js/controllers/homeController.js')
