//
   Created by Asif on 9/9/2014.
- user = typeof(udata) != 'undefined' ? udata : { }
header
    div
        div.left-header
            figure.company
                img.company-logo(src="/images/company-logo.png")
                figcaption.company-name taxi