//
   Created by Administrator on 9/14/2014.

header
    div.header
        div.left-header
            figure
                img(src="/images/company-logo.png")
                figcaption taxi
        div.right-header
            figure
                figcaption
                    a(href='http://')(style="color:#FFF;font-size:22px;") Welcome Home