* {
    padding: 0;
    margin: 0;
}
.container, body > header > div  {
    margin: 0 auto;
    width: 100%;
}
body > header {
    width: 100%;
    height: 150px;
    background-color: #102c42;
    position: absolute;
    top:  0;
    left: 0;
}

body > header > div > div {
    color: grey;
    height: 100%;
}

div.left-header {
    float: left;
    margin-left: 150px;
}
div.left-header > figure {
    display: table;
    margin-top: 35px;
}
div.left-header > figure > img {
    display: table-cell;
}
div.left-header > figure > figcaption {
    display: table-cell;
    font-size: 50px;
    text-transform: none;
    vertical-align: middle;
    padding-left: 20px;
    color: #FFF;
}
div.right-header {
    float: right;
    margin-right: 150px;
}
div.right-header > figure {
    display: table;
    margin-top: 55px;
}
div.right-header > figure > img {
    display: table-cell;
}
div.right-header > figure > figcaption {
    display: table-cell;
    font-size: 22px;
    vertical-align: middle;
    padding-left: 20px;
    color: #FFF;
}
.container{
    margin-top: 80px;
    background-color: white;
    padding: 0;
}
nav {
    background-color: white;
    width: 250px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border-right: #cbcbcb 1px solid;
    min-height: 700px;
}
nav .user {
    padding: 30px 61px;
}
nav .user .user-logo {

}
nav .user .user-name {
    text-align: center;
    font-size: 25px;
    color: rgb(34, 188, 216 );
}
nav > ul > li {
    list-style: none;
    width: 100%;
    height: 50px;
    border-top: #cbcbcb 1px solid;
    padding: 15px 0px 0px 10px;
}
nav > ul > li:last-child {
    border-bottom: #cbcbcb 1px solid;
}
section.content {
    width: 870px;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}
div.trips {
    width: 100%;

}
div.trips header {
    height: 53px;
    padding-top: 13px;
}
.left-caption {
    float: left;
    font-size: 26px;
    text-transform: uppercase;
    padding-left: 25px;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}
.right-caption {
    float: right;
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    padding-right: 35px;
}
table.trips {
    width: 100%;
}
table.trips caption {
    height: 70px;
}
table.trips tr {
    height: 50px;
    border-collapse: collapse;
    border:  #cbcbcb 1px solid;
    border-left: 0;
    border-right: 0;
}
table.trips > thead > tr {
    background-color: #e0dfe4;
}
td, th {
    padding-left: 20px;
    min-width: 105px;
}

.details {
    width: 100%;
    background-color: rgb(229,229,229);
    padding: 30px 25px;
}
.sec {
    display: inline-block;
    vertical-align: top;
    width: 33%;
}
.fare {
    font-weight: 600;
    font-size: 30px;
}
.payment-method {
    font-size: 20px;
}
.payment-time {
    font-size: 13px;
}
.place {
    font-size: smaller;
}
.sec button {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(36, 187, 216);
    border: 0;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;;
}
.icon-circle {
    border: 4px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.icon-circle.red {
    border-color: red;
}
.icon-circle.blue {
    border-color: blue;
}
.trip-start > div, .trip-stop > div {
    display: inline-block;
}
.rating {
    margin-top: 40px;
    margin-bottom: 10px;
}

/*login page*/
.container{
    background-color: transparent;
}
.container > h1 {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(224,11,40);
    color: #FFF;
    border-top: 0px solid grey;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
span.message {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}
form.login, aside {
    width: 500px;
    margin: 0 auto;
}
form.login > h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4em;
    padding: 40px;
}
form.login input, form.login button{
    width: 490px;
    margin: 0 auto;
    height: 40px;
    border-radius: 10px;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
}
form.login button {
    height: 70px;
    font-size: 1.9em;
    margin-top: 10px;
    background-color: rgb(36, 187, 216);
    text-transform: uppercase;
}
form.login label[for="remeber_password"] {
    padding-left: 20px;
}
form.login label[for="remeber_password"] input[type="checkbox"]{
    width: 10px;
    position: absolute;
    margin-left: -20px;
    height: 23px;
}
form.login a[href="/forgot_your_password"] {
    float: right;
    margin-right: 15px;
    color: orange;
}
aside > h3 {
    text-transform: uppercase;
    font-size: 1.4em;
    text-align: center;
}
aside > figure {
    margin: 0;
    width: 49%;
    float: left;
    background-color: black;
    display: table;
}
aside > figure.signup-passenger {
    padding: 20px 20px 20px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
aside > figure.signup-passenger a {
    color: rgb(223, 222, 227);
}
aside > figure.signup-driver {
    padding: 20px 20px 20px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
aside > figure.signup-driver a {
    color: rgb(36, 187, 216);
}
aside > figure > figcaption,aside > figure > img {
    display: table-cell;
    vertical-align: top;;
    font-size: 1.6em;
    padding-left: 8px;
}